@tailwind base;
@tailwind components;
@tailwind utilities;

          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,700 L 0,175 C 86.25,141.53571428571428 172.5,108.07142857142857 305,113 C 437.5,117.92857142857143 616.25,161.25 758,178 C 899.75,194.75 1004.5,184.92857142857142 1112,180 C 1219.5,175.07142857142858 1329.75,175.03571428571428 1440,175 L 1440,700 L 0,700 Z");
            }
            25%{
              d: path("M 0,700 L 0,175 C 92.39285714285714,131.71428571428572 184.78571428571428,88.42857142857142 314,112 C 443.2142857142857,135.57142857142858 609.2500000000001,226 738,246 C 866.7499999999999,266 958.2142857142858,215.57142857142856 1069,192 C 1179.7857142857142,168.42857142857144 1309.892857142857,171.71428571428572 1440,175 L 1440,700 L 0,700 Z");
            }
            50%{
              d: path("M 0,700 L 0,175 C 89.5,185.57142857142856 179,196.14285714285714 295,200 C 411,203.85714285714286 553.4999999999999,201 685,213 C 816.5000000000001,225 937.0000000000002,251.8571428571429 1061,248 C 1184.9999999999998,244.1428571428571 1312.5,209.57142857142856 1440,175 L 1440,700 L 0,700 Z");
            }
            75%{
              d: path("M 0,700 L 0,175 C 105.96428571428572,204.07142857142856 211.92857142857144,233.14285714285714 346,231 C 480.07142857142856,228.85714285714286 642.2500000000001,195.5 781,189 C 919.7499999999999,182.5 1035.0714285714284,202.85714285714283 1141,205 C 1246.9285714285716,207.14285714285717 1343.4642857142858,191.07142857142858 1440,175 L 1440,700 L 0,700 Z");
            }
            100%{
              d: path("M 0,700 L 0,175 C 86.25,141.53571428571428 172.5,108.07142857142857 305,113 C 437.5,117.92857142857143 616.25,161.25 758,178 C 899.75,194.75 1004.5,184.92857142857142 1112,180 C 1219.5,175.07142857142858 1329.75,175.03571428571428 1440,175 L 1440,700 L 0,700 Z");
            }
          }
          .path-1{
            animation:pathAnim-1 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-1{
            0%{
              d: path("M 0,700 L 0,408 C 114.39285714285714,403 228.78571428571428,398 350,383 C 471.2142857142857,368 599.2499999999999,343 710,364 C 820.7500000000001,385 914.2142857142858,452 1033,467 C 1151.7857142857142,482 1295.892857142857,445 1440,408 L 1440,700 L 0,700 Z");
            }
            25%{
              d: path("M 0,700 L 0,408 C 133.10714285714286,440.5 266.2142857142857,473 382,481 C 497.7857142857143,489 596.25,472.5 707,434 C 817.75,395.5 940.7857142857144,334.99999999999994 1065,327 C 1189.2142857142856,319.00000000000006 1314.6071428571427,363.5 1440,408 L 1440,700 L 0,700 Z");
            }
            50%{
              d: path("M 0,700 L 0,408 C 131.46428571428572,406.42857142857144 262.92857142857144,404.85714285714283 386,409 C 509.07142857142856,413.14285714285717 623.7500000000001,423.00000000000006 751,426 C 878.2499999999999,428.99999999999994 1018.0714285714287,425.1428571428571 1135,421 C 1251.9285714285713,416.8571428571429 1345.9642857142858,412.42857142857144 1440,408 L 1440,700 L 0,700 Z");
            }
            75%{
              d: path("M 0,700 L 0,408 C 94.60714285714286,411.17857142857144 189.21428571428572,414.35714285714283 302,424 C 414.7857142857143,433.64285714285717 545.7499999999999,449.75 684,443 C 822.2500000000001,436.25 967.7857142857142,406.6428571428571 1095,397 C 1222.2142857142858,387.3571428571429 1331.107142857143,397.67857142857144 1440,408 L 1440,700 L 0,700 Z");
            }
            100%{
              d: path("M 0,700 L 0,408 C 114.39285714285714,403 228.78571428571428,398 350,383 C 471.2142857142857,368 599.2499999999999,343 710,364 C 820.7500000000001,385 914.2142857142858,452 1033,467 C 1151.7857142857142,482 1295.892857142857,445 1440,408 L 1440,700 L 0,700 Z");
            }
          }